body {
  font-family: 'Roboto', sans-serif;
}

.error {
  position: absolute;
  color: red;
  font-size: 0.6rem;
}

input.form-control,
input.form-control:focus {
  background: #f0f0ff;
}

label {
  font-size: 0.7rem;
}

/* ITEM CONTAINER */

.container-card .card-item:hover {
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
/* ITEM DETAIL */

.card-body {
  color: black;
}

/* ITEM */

/* FOOTER */

.footer {
  background-color: rgba(71, 68, 68, 0.9);
  color: white;
}

/* ICONS */

.add-icon {
  color: black;
}
.add-icon:hover {
  cursor: pointer;
}
