body {
  font-family: 'Roboto', sans-serif;
}

.error {
  position: absolute;
  color: red;
  font-size: 0.6rem;
}

input.form-control,
input.form-control:focus {
  background: #f0f0ff;
}

label {
  font-size: 0.7rem;
}

/* SPINNER */

.jesus {
  text-align: center;
}

.kinetic {
  height: 80px;
  width: 80px;
}

.kinetic::after,
.kinetic::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border: 50px solid transparent;
  border-bottom-color: #595656;
  animation: rotateA 2s linear infinite 0.5s;
  margin-top: 20rem;
  margin-left: 51rem;
}

.kinetic::before {
  transform: rotate(90deg);
  animation: rotateB 2s linear infinite;
}

@keyframes rotateA {
  0%,
  25% {
    transform: rotate(0);
  }

  50%,
  75% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateB {
  0%,
  25% {
    transform: rotate(90deg);
  }

  50%,
  75% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(450deg);
  }
}
/* NAVBAR */

/* .nav-dropdown,
.nav-dropdown:hover,
.nav-dropdown:active,
.nav-dropdown:focus {
  background-color: transparent;
  border: none;
  color: black;
  box-shadow: none;
}

.show > .btn-primary.dropdown-toggle,
.show > .btn-primary.dropdown-toggle:focus {
  background-color: transparent;
  border: none;
  color: black;
  box-shadow: none;
}
.show.dropdown {
  background-color: transparent;
  border: none;
  color: black;
}

.btn-primary,
.btn-primary.focus,
.bnt-primary:focus,
.bnt-primary:active {
  color: black;
  background-color: transparent;
  border: none;
} */

/* LOGO */

.logo {
  width: 50px;
}

/* ITEM CONTAINER */

.container-card .card-item:hover {
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  transform: scale(1.03);
}

/* ITEM DETAIL */

.card-body {
  color: black;
}

.col-image-detail {
  display: block;
  margin: auto;
}

.image-detail {
  max-width: 500px;
  max-height: 495px;
}

.item-price {
  font-size: 2rem;
}

.spec-title {
  text-decoration: underline;
}

.spec-text {
  line-height: 13px;
  font-weight: bold;
}

.spec-bg {
  background-color: rgba(0, 125, 0, 0.247);
}
/* ITEM */

.card-item {
  max-height: 500px;
}

.card-text {
  max-height: 149.79px;
}

/* ITEM LIST CONAINER */

.product-desc {
  margin: 0;
}

/* FOOTER */

.footer {
  background-color: rgba(71, 68, 68, 0.9);
  color: white;
  bottom: 0;
  width: 100%;
}

/* ICONS */

.add-icon,
.remove-icon {
  color: #ffc107;
}

.add-icon,
.remove-icon:hover {
  cursor: pointer;
}

.dollar-icon {
  color: green;
  margin-bottom: 0.3rem;
}

.dollar-icon-cart {
  color: green;
  margin-bottom: 0.1rem;
}

.facebook-icon {
  color: #0673e7;
}

.instagram-icon {
  color: #a12ba5;
}

.twitter-icon {
  color: #1da1f2;
}

/* INPUTS */
.inputis {
  padding: 0;
}
.stock-input {
  border: none;
  background: transparent;
  align-items: center;
  margin-top: 6px;
  padding: 0;
  cursor: default;
}

.stock-input:hover {
  pointer-events: none;
}

.stock-input:focus {
  outline: none;
}

/* CART */

.img-product-cart {
  object-fit: scale-down;
  margin-left: 2rem;
}

.dollar-icon-cart {
  margin-bottom: 0.2rem;
  margin-right: 0;
}

.cart-price {
  min-width: 200px;
}

.cart-product-w {
  width: 20%;
}

.cart-total-price {
  font-size: 1.5rem;
}

.btn-trash {
  padding: 0;
  border: none;
}

.btn-trash:hover {
  background-color: white;
}

.bg-navbar {
  background-image: linear-gradient(to right, #ffc107 60%, #f8dd8a);
}

.btn-icon-cart {
  background-color: transparent;
  color: black;
  border: none;
}

.btn-icon-cart:hover {
  background-color: transparent;
  color: black;
}

.bnt-icon-cart:focus {
  background-color: transparent;
  color: black;
  border: none;
}

.bnt-icon-cart:active {
  background-color: transparent;
  color: black;
  border: none;
}
